body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  overflow-x: hidden; 
}